{% extends 'base.html' %}

{% block head %}
    <title>{{ appTitle }} - Home</title>
{% endblock %}

{% block body %}
    <article class="media content-section">
        <div class="media-body">
            <div class="text-center">
                <img class="img-fluid index-image" src="{{ url_for('static', filename='/assets/skull.png') }}">
                <h2 class="article-title text-center">Welcome to FlaskDuino!</h2>
                <a class="btn btn-outline-dark btn-md index-button" href="/toggle_gpio_pins">Enter Site</a>
            </div>
            <hr>
            <p class="text-muted text-center index-p">This site was created by Anthony Farmer as a Flask website to control Arduino via serial port (USB) connection.</p>
        </div>
    </article>
{% endblock %}