{% extends 'base.html' %}

{% block head %}
<title>{{ appTitle }} - Servo Controls</title>
{% endblock %}

{% block body %}
    <h1 class="toggle-h1">Servo Controls</h1>

    {% for pins in LED_PINS %}
        {% if pins.pin_type == 'PWM' %}
            <article class="media content-section">
                <div class="media-body">
                    <div class="article-metadata">
                        <small>
                            <i id="{{ pins.pin_num + ' bulb' }}" class="bi bi-gear-fill small-icon"></i>
                        </small>
                        <small class="text-muted small-text">GPIO: {{ pins["pin_num"] }}</small>
                        <small id="{{ pins.pin_num + ' small' }}" class="small-text ms-4">Status: 90&deg;</small>
                    </div>
                    <form  action="/" method="post">
                        {% if pins["pin_name"] == '' %}
                            <label>GPIO: {{ pins["pin_num"] }}</label>
                        {% else %}
                            <label>{{ pins["pin_name"] }}</label>
                            <input type="range" class="form-range" min="0" max="180" step="1" onchange="setServoDegree({{ pins.pin_num }}, this.value)" id="{{ pins.pin_num }} + customRange">
                        {% endif %}
                    </form>
                </div>
            </article>
        {% endif %}
    {% endfor %}

{% endblock %}